* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */

.Leader {
  min-height: 30rem;
  border-radius: 15%;
  position: relative;
}

/* header */

#Head-logo {
  background-color: rgb(27, 99, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

header div {
  width: calc(100% / 3);
  text-align: center;
}

header li {
  margin-right: 0.5rem;
}

header ul {
  display: none;
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

#bar {
  font-size: 2rem;
  color: white;
}

.button {
  background-color: white;
  color: black;
  display: inline-block;
  width: 6rem;
  border-radius: 25%;
  height: 2rem;
  vertical-align: middle;
  padding-top: 5px;
}

@media screen and (min-width: 992px) {
  #Head-logo {
    justify-content: space-around;
  }

  header li {
    display: inline-block;
    color: white;
  }

  #bar {
    display: none;
  }

  header ul {
    display: contents;
  }
}

/* demo downloaded */

.container {
  padding: 2rem;
  min-height: 400px;
  width: 100%;
}

.col {
  width: 100%;
  min-height: 14rem;
  background-color: rgb(145, 175, 223);
  border-radius: 30%;
  gap: 1rem;
  padding: 2rem;
  font-size: 0.8rem;
}

.Leader {
  min-height: 20rem;
  border-radius: 15%;
  padding: 3rem;
}

.img-iphone {
  width: 60%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

/* responsive */

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    width: calc(100% / 3);
  }

  .Leader {
    width: 66%;
  }

  .img-iphone {
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 30%;
  }
}

@media screen and (min-width: 992px) {
  .img-iphone {
    left: 68%;
    height: 65%;
  }

  .col {
    padding: 4rem;
  }
  .Leader {
    padding-right: 23rem;
  }
}

/* purposes */

.container-purposes {
  min-height: 600px;
  background-color: rgb(123, 65, 224);
  padding: 1rem;
}

.Planning-img {
  width: 100%;
}

.Development-img {
  width: 100%;

  border-radius: 20%;
  min-height: 30rem;
}

.app-development {
  background-color: white;
  color: black;
  border-radius: 3rem;
  padding: 1rem;
}

@media screen and (min-width: 922px) {
  .container-purposes {
    display: flex;
    padding: 10rem;
    gap: 2rem;
  }

  .app-development {
    display: inline-block;
    margin-top: 9rem;
    width: 100%;
  }
}

/* testimonials */

.container-testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.col-testimonials {
  width: 100%;
  background-color: rgb(123, 65, 224);
  min-height: 30rem;
  border-radius: 3rem;
  text-align: center;
}

#Team img {
  width: 70%;
  height: 60%;
  border-radius: 50%;
}

.Explanation {
  background-color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 922px) {
}
